@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hamburger Menu  */
@media  screen and (max-width:768px) {


  .ham-menu{
    left: 60%;
  }
.hamburger {
    position: relative;
    left: 90%;
    background: none;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.25s;
  }
  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: white;
    transform: rotate(0);
    transition: all 0.5s;
  }
  .hamburger-top{
    width: 20px;
    left: 10px;
  }

  .hamburger-middle {
    transform: translateY(10px);
  }
  .hamburger-bottom {
    
    transform: translateY(20px);
  }
  .open {
    transform: rotate(90deg);
    transform: translateY(0px);
  }
  .open .hamburger-top {
    width: 30px;
    transform: rotate(45deg) translateY(12px) translate(6px);
  }
  .open .hamburger-middle {
    display: none;
  }
  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(12px) translate(-6px);
  } 
 
 
}